@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap');

:root{
    --fonte: 'inria Serif', serif;

    --cor01: #0B0A07;
    --cor02: #1F1F1F;
    --cor03: #061923;
    --cor04: #B9F3EF;
    --cor05: #D6D6D6;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--fonte);
    color: var(--cor05);
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor03);
}

header{
    position: relative;
    width: 100%;
    height: 269px;
    background-color: var(--cor04);
}

nav{
    background-color: var(--cor01);
    height: 50px;
}

nav > button{
    background-color: transparent;
    color: var(--cor05);
    width: 116px;
    height: 50px;
    font-size: 20px;
    font-style: normal;
    font-weight: lighter;
    margin-right: 15px;
    border: 0;
    transition: .3s;
}

nav > button:hover{
    background-color: var(--cor02);
    border-bottom: 0.1px solid var(--cor05);
    cursor: pointer;  
    border-radius: 5px;
    font-weight: bolder;
}

#profile{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}

main{
    margin: auto;
    padding-top: 76px;
    max-width: 1054px;
    min-width: 300px;
    height: 1477px;
    background-color: var(--cor01);
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 65px;
}

#name{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    background-color: var(--cor02);
    width: 315px;
    height: 63px;
    border-radius: 50px;
    margin-bottom: 61px;
}

#name > p{
    color: var(--cor05);
    font-family: var(--fonte);
    font-size: 36px;
    font-weight: 700;
}

.titles{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: auto;
    width: 923px;
    height: 59px;
    margin-bottom: 37px;
}

.titles > .lines{
    width: 300px;
    height: 1px;
    background-color: var(--cor05);
}

.titles > p{
    color: var(--cor05);
    text-align: center;
    font-family: var(--fonte);
    font-size: 32px;
    font-weight: 700;
}

#aboutMe{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    background-color: var(--cor05);
    width: 815px;
    height: 143px;
    border-radius: 50px;
    background-color: var(--cor02);
    margin-bottom: 37px;   
}

#aboutMe > p{
    color: var(--cor05);
    text-align: center;
    font-family: var(--fonte);
    font-size: 24px;
    font-weight: 400;
}

#projects{
    position: relative;
    margin: auto;
    background-color: var(--cor02);
    width: 740.378px;
    height: 473px;
    border-radius: 50px;
    margin-bottom: 37px;
}

#contact{
    background-color: var(--cor02);
    width: 740px;
    height: 215px;
    border-radius: 50px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 65px;
}

.contacts{
    position: relative;
    width: 491px;
    height: 43.886px;
    display: flex;
    align-items: center;
    justify-content: start;
}


#first{
    margin-bottom: 30px;
}

.image{
    margin-right: 26.33px;
}

#hub{
    position: relative;
    top: 15px;
}

.contacts > span{
    color: var(--cor05);
    font-size: 25px;
    font-weight: 700;
}

#link{
    color: var(--cor05);
    font-size: 25px;
    font-weight: 700;
}


.topButton {
    display: flex;
    position: relative;
    margin: auto;
    margin-right: 54px;
    margin-bottom: 30px;
    background-color: var(--cor02);
    width: 50px;
    height: 50px;
    border: var(--cor02) 0.2em solid;
    border-radius: 35px;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
  }
  
  .topButton:hover {
    background-color: var(--cor01);
    cursor: pointer;
    border: 0.2em soldi var(--cor01);
  }

  .topButton svg{
    width: 25px;
    height: 30px;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }

  .topButton:hover svg{
    transform: translatey(-6px);
  }
  

footer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
    padding: 0;
    height: 39px;
    width: 100%;
    background-color: var(--cor01);
    color: var(--cor05);
    text-align: center;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: var(--cor05);
}

a:hover{
    text-decoration: underline;
}